/* For the Control Panel [contains newBTn and Date filter */

.newTodoBtn {
    border-radius: 50px;
    border-style: none;
    background-color: var(--green-Btn);
    color: var(--text-white);

    font-weight: 200;
    font-size: 1.3rem;
    height: 45px;
    width: 120px;
}