@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.headerTab{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    font-family: "Josefin Sans";
    color: #1b1b1b;
    font-size: 10rem;
    font-weight: 1000;
    height: 7rem;
}
